body {
  background-color: #edf1ff;
  font-family: sans-serif;
  margin: auto;
  max-width: 500px;
  margin-top: 8px;
}

img { /* Moves the images slightly to the left */
  float: left;
  margin: auto 16px;
}

.hp-issue-index {
  text-decoration: underline;
}

ul .hp-issue-article-list {
  color: red;
}

p {
  color: #7f99b1;
}

.hp-news-author {
  color: #2e292a;
  font-style: italic;
}

span {
  color: #bbb;
}