body {
    background-color: lavender;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 500px;
    margin: auto;
}

a {
    background-color: red;
    color: white;
    border-style: solid;
    padding: 2px;
}