a {
    color: blanchedalmond;
}

h3 {
    color: gold;
}

body {
    background-color: cornflowerblue;
    color: blanchedalmond;
    font-family: 'Trebuchet MS';
    max-width: 500px;
    margin: auto;
    margin-top: 8px;
    padding: 16px;
    border-style: dotted;
}

img {
    border-style: dashed;
    padding: 2px;
}