body {
    background-color: #ffe;
    font-family: 'Times New Roman', Times, serif;
    border-style: dashed;
    padding: 16px;
    max-width: 500px;
    margin: auto;
    margin-top: 8px;
}

p {
    font-size: 20px;
}

caption {
    font-size: 8px;
}